body{
    background-color: rgb(255, 226, 132);
    text-align: center;
}

 /*Pantalla de interacción*/

.Inicio h1{
    font-size: 70px;
}
.Inicio p{
    font-size: 30px;
}
.Inicio a{
    font-size: 30px;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(221, 170, 255);
}

.Inicio a:hover{
    background-color: rgb(255, 119, 0);
}

